.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
 
}

.signup-container .google-login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid #f3830c;
}

.google-login-button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.google-login-button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.signup-container p {
  text-align: center;
  color: #777;
  margin-bottom: 20px;
}
